<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>description</key>
		<string>studio flat　ワンルームマンション</string>
		<key>image</key>
		<string>FastFoodMc</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>image</key>
		<string>FastFoodMc</string>
	</dict>
	<dict>
		<key>description</key>
		<string>修理全般</string>
		<key>image</key>
		<string>FastFoodMc</string>
	</dict>
</array>
</plist>
