<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>description</key>
		<string>マクドナルド</string>
		<key>image</key>
		<string>FastFoodMc</string>
	</dict>
	<dict>
		<key>description</key>
		<string>マクドナルド</string>
		<key>image</key>
		<string>FastFoodMc</string>
	</dict>
	<dict>
		<key>description</key>
		<string>吉野家</string>
		<key>image</key>
		<string>FastFoodYoshinoya</string>
	</dict>
	<dict>
		<key>description</key>
		<string>丸亀製麺</string>
		<key>image</key>
		<string>FastFoodUdon</string>
	</dict>
	<dict>
		<key>description</key>
		<string>ケンタッキーKFC</string>
		<key>image</key>
		<string>FastFoodKfc</string>
	</dict>
</array>
</plist>
