<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>camera</key>
		<string>Burger</string>
		<key>item</key>
		<string>にんじん 1本 以下は税抜き</string>
		<key>pricePeso</key>
		<string>40php</string>
		<key>priceYen</key>
		<string>57</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>Burger</string>
		<key>item</key>
		<string>たまねぎ 1個</string>
		<key>pricePeso</key>
		<string>40php</string>
		<key>priceYen</key>
		<string>47</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>Burger</string>
		<key>item</key>
		<string>じゃがいも 1個</string>
		<key>pricePeso</key>
		<string>40php</string>
		<key>priceYen</key>
		<string>47</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>Burger</string>
		<key>item</key>
		<string>長ねぎ 1本</string>
		<key>pricePeso</key>
		<string>40php</string>
		<key>priceYen</key>
		<string>80</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>Burger</string>
		<key>item</key>
		<string>大根 1本</string>
		<key>pricePeso</key>
		<string>40php</string>
		<key>priceYen</key>
		<string>177</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>Burger</string>
		<key>item</key>
		<string>なす 1本</string>
		<key>pricePeso</key>
		<string>40php</string>
		<key>priceYen</key>
		<string>50</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>Burger</string>
		<key>item</key>
		<string>白菜</string>
		<key>pricePeso</key>
		<string>40php</string>
		<key>priceYen</key>
		<string>16200</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>Burger</string>
		<key>item</key>
		<string>筍</string>
		<key>pricePeso</key>
		<string>40php</string>
		<key>priceYen</key>
		<string>16200</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>Burger</string>
		<key>item</key>
		<string>キャベツ 1個</string>
		<key>pricePeso</key>
		<string>40php</string>
		<key>priceYen</key>
		<string>87</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>Burger</string>
		<key>item</key>
		<string>レタス 1個</string>
		<key>pricePeso</key>
		<string>40php</string>
		<key>priceYen</key>
		<string>127</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>Burger</string>
		<key>item</key>
		<string>きゅうり 1本</string>
		<key>pricePeso</key>
		<string>40php</string>
		<key>priceYen</key>
		<string>47</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>Burger</string>
		<key>item</key>
		<string>大葉 １束</string>
		<key>pricePeso</key>
		<string>40php</string>
		<key>priceYen</key>
		<string>67</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>Burger</string>
		<key>item</key>
		<string>トマト 1個</string>
		<key>pricePeso</key>
		<string>40php</string>
		<key>priceYen</key>
		<string>127</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>Burger</string>
		<key>item</key>
		<string>もやし</string>
		<key>pricePeso</key>
		<string>40php</string>
		<key>priceYen</key>
		<string>16200</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>Burger</string>
		<key>item</key>
		<string>かぼちゃ 360g</string>
		<key>pricePeso</key>
		<string>40php</string>
		<key>priceYen</key>
		<string>133</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>Burger</string>
		<key>item</key>
		<string>バナナ 1カット 5本</string>
		<key>pricePeso</key>
		<string>40php</string>
		<key>priceYen</key>
		<string>94</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>Burger</string>
		<key>item</key>
		<string>りんご 1個</string>
		<key>pricePeso</key>
		<string>40php</string>
		<key>priceYen</key>
		<string>127</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>Burger</string>
		<key>item</key>
		<string>マンゴー 1 個</string>
		<key>pricePeso</key>
		<string>40php</string>
		<key>priceYen</key>
		<string>350</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>Burger</string>
		<key>item</key>
		<string>巨峰 1パック</string>
		<key>pricePeso</key>
		<string>40php</string>
		<key>priceYen</key>
		<string>400</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>Burger</string>
		<key>item</key>
		<string>ドラゴンフルーツ</string>
		<key>pricePeso</key>
		<string>40php</string>
		<key>priceYen</key>
		<string>**</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>Burger</string>
		<key>item</key>
		<string>メロン</string>
		<key>pricePeso</key>
		<string>40php</string>
		<key>priceYen</key>
		<string>1000*</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>Burger</string>
		<key>item</key>
		<string>いちご とちおとめ 栃木 1パック</string>
		<key>pricePeso</key>
		<string>40php</string>
		<key>priceYen</key>
		<string>300</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>Burger</string>
		<key>item</key>
		<string>さつまいも芋</string>
		<key>pricePeso</key>
		<string>40php</string>
		<key>priceYen</key>
		<string>97</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>Burger</string>
		<key>item</key>
		<string>柿 1個</string>
		<key>pricePeso</key>
		<string>40php</string>
		<key>priceYen</key>
		<string>67</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>Burger</string>
		<key>item</key>
		<string>キーウィフルーツ 1個</string>
		<key>pricePeso</key>
		<string>40php</string>
		<key>priceYen</key>
		<string>127</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>Burger</string>
		<key>item</key>
		<string>レモン アメリカ</string>
		<key>pricePeso</key>
		<string>1pesp</string>
		<key>priceYen</key>
		<string>157</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>Burger</string>
		<key>item</key>
		<string>アボカド 1個</string>
		<key>pricePeso</key>
		<string>40php</string>
		<key>priceYen</key>
		<string>127</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>Burger</string>
		<key>item</key>
		<string>食卓塩 100g</string>
		<key>pricePeso</key>
		<string>40php</string>
		<key>priceYen</key>
		<string>85</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>Burger</string>
		<key>item</key>
		<string>キューピー マヨネーズ</string>
		<key>pricePeso</key>
		<string>40php</string>
		<key>priceYen</key>
		<string>298</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>Burger</string>
		<key>item</key>
		<string>カゴメ ケチャップ</string>
		<key>pricePeso</key>
		<string>40php</string>
		<key>priceYen</key>
		<string>158</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>Burger</string>
		<key>item</key>
		<string>西友 上白糖 1kg</string>
		<key>pricePeso</key>
		<string>40php</string>
		<key>priceYen</key>
		<string>158</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>Burger</string>
		<key>item</key>
		<string>日清 カップ麺 　シーフード</string>
		<key>pricePeso</key>
		<string>40php</string>
		<key>priceYen</key>
		<string>138</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>Burger</string>
		<key>item</key>
		<string>日清 どん兵衛 きつね</string>
		<key>pricePeso</key>
		<string>40php</string>
		<key>priceYen</key>
		<string>118</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>Burger</string>
		<key>item</key>
		<string>敷島製パン 超熟山型パン 6枚</string>
		<key>pricePeso</key>
		<string>40php</string>
		<key>priceYen</key>
		<string>140</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>Burger</string>
		<key>item</key>
		<string>日本ハム ウインナー 354g</string>
		<key>pricePeso</key>
		<string>40php</string>
		<key>priceYen</key>
		<string>338</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>Burger</string>
		<key>item</key>
		<string>アメリカ 牛肉肩ロース アンガス 100g</string>
		<key>pricePeso</key>
		<string>40php</string>
		<key>priceYen</key>
		<string>197</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>Burger</string>
		<key>item</key>
		<string>アメリカ 豚肉 ロース 100g</string>
		<key>pricePeso</key>
		<string>40php</string>
		<key>priceYen</key>
		<string>117</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>Burger</string>
		<key>item</key>
		<string>JA全農 卵 L 10個 </string>
		<key>pricePeso</key>
		<string>40php</string>
		<key>priceYen</key>
		<string>258</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>Burger</string>
		<key>item</key>
		<string>小岩井 牛乳 成分無調整 1L</string>
		<key>pricePeso</key>
		<string>40php</string>
		<key>priceYen</key>
		<string>248</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>Burger</string>
		<key>item</key>
		<string>CANON プリンター TS8030</string>
		<key>pricePeso</key>
		<string>40php</string>
		<key>priceYen</key>
		<string>16200</string>
	</dict>
</array>
</plist>
