<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>camera</key>
		<string>Burger</string>
		<key>item</key>
		<string>ウォーターサーバーWater Dispenser </string>
		<key>pricePeso</key>
		<string>1950</string>
		<key>priceYen</key>
		<string>**</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>Burger</string>
		<key>item</key>
		<string>パスポート発給 10年</string>
		<key>pricePeso</key>
		<string>7200</string>
		<key>priceYen</key>
		<string>16000</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>Burger</string>
		<key>item</key>
		<string>パスポート発給 5年</string>
		<key>pricePeso</key>
		<string>4950</string>
		<key>priceYen</key>
		<string>11000</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>Burger</string>
		<key>item</key>
		<string>マッサージ 60分 タイ式 </string>
		<key>pricePeso</key>
		<string>400</string>
		<key>priceYen</key>
		<string>5000</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>Burger</string>
		<key>item</key>
		<string>クレープ チョコ</string>
		<key>pricePeso</key>
		<string>100</string>
		<key>priceYen</key>
		<string>350</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>Burger</string>
		<key>item</key>
		<string>モーニング パンケーキ</string>
		<key>pricePeso</key>
		<string>120</string>
		<key>priceYen</key>
		<string>700</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>Burger</string>
		<key>item</key>
		<string>映画入場料 平均</string>
		<key>pricePeso</key>
		<string>220</string>
		<key>priceYen</key>
		<string>aasa</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>Burger</string>
		<key>item</key>
		<string>ボーリング 1ゲーム</string>
		<key>pricePeso</key>
		<string>150</string>
		<key>priceYen</key>
		<string>::::</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>Burger</string>
		<key>item</key>
		<string>靴レンタル</string>
		<key>pricePeso</key>
		<string>50</string>
		<key>priceYen</key>
		<string>aaa</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>Burger</string>
		<key>item</key>
		<string>靴下レンタル</string>
		<key>pricePeso</key>
		<string>15</string>
		<key>priceYen</key>
		<string>¥aaa</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>Burger</string>
		<key>item</key>
		<string>CANON カメラ</string>
		<key>pricePeso</key>
		<string>40php</string>
		<key>priceYen</key>
		<string>**</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>Burger</string>
		<key>item</key>
		<string>CANON カメラ</string>
		<key>pricePeso</key>
		<string>40php</string>
		<key>priceYen</key>
		<string>**</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>Burger</string>
		<key>item</key>
		<string>CANON カメラ</string>
		<key>pricePeso</key>
		<string>40php</string>
		<key>priceYen</key>
		<string>**</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>Burger</string>
		<key>item</key>
		<string>CANON カメラ</string>
		<key>pricePeso</key>
		<string>40php</string>
		<key>priceYen</key>
		<string>**</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>Burger</string>
		<key>item</key>
		<string>CANON カメラ</string>
		<key>pricePeso</key>
		<string>40php</string>
		<key>priceYen</key>
		<string>**</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>Burger</string>
		<key>item</key>
		<string>CANON カメラ</string>
		<key>pricePeso</key>
		<string>40php</string>
		<key>priceYen</key>
		<string>**</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>Burger</string>
		<key>item</key>
		<string>CANON カメラ</string>
		<key>pricePeso</key>
		<string>40php</string>
		<key>priceYen</key>
		<string>**</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>Burger</string>
		<key>item</key>
		<string>CANON カメラ</string>
		<key>pricePeso</key>
		<string>40php</string>
		<key>priceYen</key>
		<string>**</string>
	</dict>
</array>
</plist>
