<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>camera</key>
		<string>YoshinoyaGyudon</string>
		<key>item</key>
		<string>牛丼　並</string>
		<key>pricePeso</key>
		<string>15</string>
		<key>priceYen</key>
		<string>380</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>YoshinoyaGyudon</string>
		<key>item</key>
		<string>牛丼　アタマの大盛</string>
		<key>pricePeso</key>
		<string>15</string>
		<key>priceYen</key>
		<string>480</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>YoshinoyaGyudon</string>
		<key>item</key>
		<string>牛丼　大盛</string>
		<key>pricePeso</key>
		<string>15</string>
		<key>priceYen</key>
		<string>550</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>YoshinoyaGyudon</string>
		<key>item</key>
		<string>牛丼特盛</string>
		<key>pricePeso</key>
		<string>15</string>
		<key>priceYen</key>
		<string>680</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>YoshinoyaGyudon</string>
		<key>item</key>
		<string>豚丼 並盛</string>
		<key>pricePeso</key>
		<string>15</string>
		<key>priceYen</key>
		<string>330</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>YoshinoyaGyudon</string>
		<key>item</key>
		<string>豚丼 アタマの大盛</string>
		<key>pricePeso</key>
		<string>15</string>
		<key>priceYen</key>
		<string>430</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>YoshinoyaGyudon</string>
		<key>item</key>
		<string>豚丼 大盛</string>
		<key>pricePeso</key>
		<string>1peso</string>
		<key>priceYen</key>
		<string>500</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>YoshinoyaGyudon</string>
		<key>item</key>
		<string>豚丼 特盛</string>
		<key>pricePeso</key>
		<string>1peso</string>
		<key>priceYen</key>
		<string>630</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>YoshinoyaGyudon</string>
		<key>item</key>
		<string>サラダ</string>
		<key>pricePeso</key>
		<string>15peso</string>
		<key>priceYen</key>
		<string>100</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>YoshinoyaGyudon</string>
		<key>item</key>
		<string>牛カルビ定食 並</string>
		<key>pricePeso</key>
		<string>11</string>
		<key>priceYen</key>
		<string>640</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>YoshinoyaGyudon</string>
		<key>item</key>
		<string>お子様 ミニ牛丼セット</string>
		<key>pricePeso</key>
		<string>11</string>
		<key>priceYen</key>
		<string>360</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>YoshinoyaGyudon</string>
		<key>item</key>
		<string>お子様 ミニカレーセット</string>
		<key>pricePeso</key>
		<string>11</string>
		<key>priceYen</key>
		<string>300</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>YoshinoyaGyudon</string>
		<key>item</key>
		<string>みそ汁</string>
		<key>pricePeso</key>
		<string>1</string>
		<key>priceYen</key>
		<string>60</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>YoshinoyaGyudon</string>
		<key>item</key>
		<string>とん汁</string>
		<key>pricePeso</key>
		<string>12</string>
		<key>priceYen</key>
		<string>190</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>YoshinoyaGyudon</string>
		<key>item</key>
		<string>玉子</string>
		<key>pricePeso</key>
		<string>34</string>
		<key>priceYen</key>
		<string>60</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>YoshinoyaGyudon</string>
		<key>item</key>
		<string>半熟玉子</string>
		<key>pricePeso</key>
		<string>４</string>
		<key>priceYen</key>
		<string>70</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>YoshinoyaGyudon</string>
		<key>item</key>
		<string>ねぎ玉子</string>
		<key>pricePeso</key>
		<string>2</string>
		<key>priceYen</key>
		<string>100</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>YoshinoyaGyudon</string>
		<key>item</key>
		<string>ご飯</string>
		<key>pricePeso</key>
		<string>22</string>
		<key>priceYen</key>
		<string>140</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>YoshinoyaGyudon</string>
		<key>item</key>
		<string> 牛小鉢</string>
		<key>pricePeso</key>
		<string>33</string>
		<key>priceYen</key>
		<string>170</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>YoshinoyaGyudon</string>
		<key>item</key>
		<string>豚鮭定食</string>
		<key>pricePeso</key>
		<string>15peso</string>
		<key>priceYen</key>
		<string>530</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>YoshinoyaGyudon</string>
		<key>item</key>
		<string>牛鮭定食</string>
		<key>pricePeso</key>
		<string>15peso</string>
		<key>priceYen</key>
		<string>580</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>YoshinoyaGyudon</string>
		<key>item</key>
		<string>Aセット 生野菜サラダ・みそ汁</string>
		<key>pricePeso</key>
		<string>15peso</string>
		<key>priceYen</key>
		<string>130</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>YoshinoyaGyudon</string>
		<key>item</key>
		<string>Bセット お新香・みそ汁</string>
		<key>pricePeso</key>
		<string>15peso</string>
		<key>priceYen</key>
		<string>130</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>YoshinoyaGyudon</string>
		<key>item</key>
		<string>Cセット キムチ・みそ汁</string>
		<key>pricePeso</key>
		<string>15peso</string>
		<key>priceYen</key>
		<string>130</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>YoshinoyaGyudon</string>
		<key>item</key>
		<string>鰻重 一枚盛 </string>
		<key>pricePeso</key>
		<string>15peso</string>
		<key>priceYen</key>
		<string>750</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>YoshinoyaGyudon</string>
		<key>item</key>
		<string>鰻重 二枚盛 </string>
		<key>pricePeso</key>
		<string>15peso</string>
		<key>priceYen</key>
		<string>1,150</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>YoshinoyaGyudon</string>
		<key>item</key>
		<string>鰻重 三枚盛</string>
		<key>pricePeso</key>
		<string>15peso</string>
		<key>priceYen</key>
		<string>1,650</string>
	</dict>
</array>
</plist>
