<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>camera</key>
		<string>Burger 以下は税込みです</string>
		<key>item</key>
		<string>シャープ 冷蔵庫 2ドア 137L SJ-D14C</string>
		<key>pricePeso</key>
		<string>40php</string>
		<key>priceYen</key>
		<string>33700</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>Burger</string>
		<key>item</key>
		<string>シャープ 冷蔵庫 5ドア 412L SJ-PW42B</string>
		<key>pricePeso</key>
		<string>40php</string>
		<key>priceYen</key>
		<string>109620</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>Burger</string>
		<key>item</key>
		<string>SONY 薄型テレビ 55インチ 4K BRAVIA</string>
		<key>pricePeso</key>
		<string>188999</string>
		<key>priceYen</key>
		<string>324772</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>Burger</string>
		<key>item</key>
		<string>SONY 薄型テレビ 24インチ</string>
		<key>pricePeso</key>
		<string>40php</string>
		<key>priceYen</key>
		<string>29300</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>Burger</string>
		<key>item</key>
		<string>パナソニック 洗濯機 （簡易乾燥機能付） 6kg </string>
		<key>pricePeso</key>
		<string>40php</string>
		<key>priceYen</key>
		<string>36850</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>Burger</string>
		<key>item</key>
		<string>パナソニック 洗濯機 （洗濯乾燥機） 10kg</string>
		<key>pricePeso</key>
		<string>40php</string>
		<key>priceYen</key>
		<string>166000</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>Burger</string>
		<key>item</key>
		<string>パナソニック 炊飯器 踊りだき 5.5</string>
		<key>pricePeso</key>
		<string>40php</string>
		<key>priceYen</key>
		<string>150</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>Burger</string>
		<key>item</key>
		<string>ブルーレイDVDレコーダー</string>
		<key>pricePeso</key>
		<string>40php</string>
		<key>priceYen</key>
		<string>43200</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>Burger</string>
		<key>item</key>
		<string>パナソニック エオリア 6畳 木造和室</string>
		<key>pricePeso</key>
		<string>40php</string>
		<key>priceYen</key>
		<string>34990</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>Burger</string>
		<key>item</key>
		<string>SONY イヤホン WF-1000X</string>
		<key>pricePeso</key>
		<string>40php</string>
		<key>priceYen</key>
		<string>23190</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>Burger</string>
		<key>item</key>
		<string>マキタ 掃除機 コードレス 32w</string>
		<key>pricePeso</key>
		<string>40php</string>
		<key>priceYen</key>
		<string>13000</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>Burger</string>
		<key>item</key>
		<string>パナソニック 電子レンジ エレック 850w 22L</string>
		<key>pricePeso</key>
		<string>40php</string>
		<key>priceYen</key>
		<string>12800</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>Burger</string>
		<key>item</key>
		<string>パナソニック FAX</string>
		<key>pricePeso</key>
		<string>40php</string>
		<key>priceYen</key>
		<string>11929</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>Burger</string>
		<key>item</key>
		<string>シャープ 空気洗浄機 KC-F50</string>
		<key>pricePeso</key>
		<string>40php</string>
		<key>priceYen</key>
		<string>15,780</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>Burger</string>
		<key>item</key>
		<string>パナソニック エアコン エオリア CS-227CF</string>
		<key>pricePeso</key>
		<string>40php</string>
		<key>priceYen</key>
		<string>34180</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>Burger</string>
		<key>item</key>
		<string>ルンバ 980</string>
		<key>pricePeso</key>
		<string>40php</string>
		<key>priceYen</key>
		<string>98999</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>Burger</string>
		<key>item</key>
		<string>ティファール 電気ポット 0.8L</string>
		<key>pricePeso</key>
		<string>40php</string>
		<key>priceYen</key>
		<string>3191</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>Burger</string>
		<key>item</key>
		<string>SONY ラジオ ICF-P36</string>
		<key>pricePeso</key>
		<string>40php</string>
		<key>priceYen</key>
		<string>2038</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>Burger</string>
		<key>item</key>
		<string>CANON プリンター TS8030</string>
		<key>pricePeso</key>
		<string>40php</string>
		<key>priceYen</key>
		<string>16200</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>Burger</string>
		<key>item</key>
		<string>CANON カメラ</string>
		<key>pricePeso</key>
		<string>40php</string>
		<key>priceYen</key>
		<string>**</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>Burger</string>
		<key>item</key>
		<string>CANON カメラ</string>
		<key>pricePeso</key>
		<string>40php</string>
		<key>priceYen</key>
		<string>**</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>Burger</string>
		<key>item</key>
		<string>CANON カメラ</string>
		<key>pricePeso</key>
		<string>40php</string>
		<key>priceYen</key>
		<string>**</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>Burger</string>
		<key>item</key>
		<string>CANON カメラ</string>
		<key>pricePeso</key>
		<string>40php</string>
		<key>priceYen</key>
		<string>**</string>
	</dict>
</array>
</plist>
