<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>camera</key>
		<string>Burger</string>
		<key>item</key>
		<string>冷蔵庫 一人用</string>
		<key>pricePeso</key>
		<string>40php</string>
		<key>priceYen</key>
		<string>150</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>Burger</string>
		<key>item</key>
		<string>冷蔵庫 4〜５人用</string>
		<key>pricePeso</key>
		<string>40php</string>
		<key>priceYen</key>
		<string>150</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>Burger</string>
		<key>item</key>
		<string>SONY 薄型テレビ 49インチ </string>
		<key>pricePeso</key>
		<string>40php</string>
		<key>priceYen</key>
		<string></string>
	</dict>
	<dict>
		<key>camera</key>
		<string>Burger</string>
		<key>item</key>
		<string>SONY 薄型テレビ 24インチ</string>
		<key>pricePeso</key>
		<string>40php</string>
		<key>priceYen</key>
		<string>29300</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>Burger</string>
		<key>item</key>
		<string>パナソニック 洗濯機 （簡易乾燥機能付） 6kg </string>
		<key>pricePeso</key>
		<string>40php</string>
		<key>priceYen</key>
		<string>36850</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>Burger</string>
		<key>item</key>
		<string>パナソニック 洗濯機 （洗濯乾燥機） 10kg</string>
		<key>pricePeso</key>
		<string>40php</string>
		<key>priceYen</key>
		<string>166000</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>Burger</string>
		<key>item</key>
		<string>炊飯器</string>
		<key>pricePeso</key>
		<string>40php</string>
		<key>priceYen</key>
		<string>150</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>Burger</string>
		<key>item</key>
		<string>ブルーレイDVDレコーダー</string>
		<key>pricePeso</key>
		<string>40php</string>
		<key>priceYen</key>
		<string>43200</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>Burger</string>
		<key>item</key>
		<string>エアコン・クーラー</string>
		<key>pricePeso</key>
		<string>40php</string>
		<key>priceYen</key>
		<string>150</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>Burger</string>
		<key>item</key>
		<string>空気清浄機</string>
		<key>pricePeso</key>
		<string>40php</string>
		<key>priceYen</key>
		<string>150</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>Burger</string>
		<key>item</key>
		<string>SONY イヤホン WF-1000X</string>
		<key>pricePeso</key>
		<string>40php</string>
		<key>priceYen</key>
		<string>23190</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>Burger</string>
		<key>item</key>
		<string>掃除機</string>
		<key>pricePeso</key>
		<string>40php</string>
		<key>priceYen</key>
		<string>150</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>Burger</string>
		<key>item</key>
		<string>掃除機（ルンバ）</string>
		<key>pricePeso</key>
		<string>40php</string>
		<key>priceYen</key>
		<string>150</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>Burger</string>
		<key>item</key>
		<string>電子レンジ</string>
		<key>pricePeso</key>
		<string>40php</string>
		<key>priceYen</key>
		<string>150</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>Burger</string>
		<key>item</key>
		<string>オーブンレンジ</string>
		<key>pricePeso</key>
		<string>40php</string>
		<key>priceYen</key>
		<string>150</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>Burger</string>
		<key>item</key>
		<string>パナソニック FAX</string>
		<key>pricePeso</key>
		<string>40php</string>
		<key>priceYen</key>
		<string>11929</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>Burger</string>
		<key>item</key>
		<string>シャープ 空気洗浄機 KC-F50</string>
		<key>pricePeso</key>
		<string>40php</string>
		<key>priceYen</key>
		<string>15,780</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>Burger</string>
		<key>item</key>
		<string>パナソニック エアコン エオリア CS-227CF</string>
		<key>pricePeso</key>
		<string>40php</string>
		<key>priceYen</key>
		<string>34180</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>Burger</string>
		<key>item</key>
		<string>ルンバ 980</string>
		<key>pricePeso</key>
		<string>40php</string>
		<key>priceYen</key>
		<string>98999</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>Burger</string>
		<key>item</key>
		<string>ティファール 電気ポット 0.8L</string>
		<key>pricePeso</key>
		<string>40php</string>
		<key>priceYen</key>
		<string>3191</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>Burger</string>
		<key>item</key>
		<string>SONY ラジオ ICF-P36</string>
		<key>pricePeso</key>
		<string>40php</string>
		<key>priceYen</key>
		<string>2038</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>Burger</string>
		<key>item</key>
		<string>CANON プリンター TS8030</string>
		<key>pricePeso</key>
		<string>40php</string>
		<key>priceYen</key>
		<string>16200</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>Burger</string>
		<key>item</key>
		<string>CANON カメラ</string>
		<key>pricePeso</key>
		<string>40php</string>
		<key>priceYen</key>
		<string>**</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>Burger</string>
		<key>item</key>
		<string>CANON カメラ</string>
		<key>pricePeso</key>
		<string>40php</string>
		<key>priceYen</key>
		<string>**</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>Burger</string>
		<key>item</key>
		<string>ホットコーヒー L</string>
		<key>pricePeso</key>
		<string>40php</string>
		<key>priceYen</key>
		<string>150</string>
	</dict>
</array>
</plist>
