<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>camera</key>
		<string>Burger</string>
		<key>item</key>
		<string>フライパン</string>
		<key>pricePeso</key>
		<string>40php</string>
		<key>priceYen</key>
		<string>100</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>Burger</string>
		<key>item</key>
		<string>中華鍋</string>
		<key>pricePeso</key>
		<string>40php</string>
		<key>priceYen</key>
		<string>100</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>Burger</string>
		<key>item</key>
		<string>鍋</string>
		<key>pricePeso</key>
		<string>40php</string>
		<key>priceYen</key>
		<string>100</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>Burger</string>
		<key>item</key>
		<string>ミトン</string>
		<key>pricePeso</key>
		<string>40php</string>
		<key>priceYen</key>
		<string>100</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>Burger</string>
		<key>item</key>
		<string>卵焼き機</string>
		<key>pricePeso</key>
		<string>40php</string>
		<key>priceYen</key>
		<string>100</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>Burger</string>
		<key>item</key>
		<string>ステンレス・ケトル 2.5L</string>
		<key>pricePeso</key>
		<string>40php</string>
		<key>priceYen</key>
		<string>**</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>Burger</string>
		<key>item</key>
		<string>包丁</string>
		<key>pricePeso</key>
		<string>40php</string>
		<key>priceYen</key>
		<string>100</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>Burger</string>
		<key>item</key>
		<string>ナイフ</string>
		<key>pricePeso</key>
		<string>40php</string>
		<key>priceYen</key>
		<string>100</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>Burger</string>
		<key>item</key>
		<string>まな板</string>
		<key>pricePeso</key>
		<string>40php</string>
		<key>priceYen</key>
		<string>100</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>Burger</string>
		<key>item</key>
		<string>箸</string>
		<key>pricePeso</key>
		<string>40php</string>
		<key>priceYen</key>
		<string>100</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>Burger</string>
		<key>item</key>
		<string>弁当箱</string>
		<key>pricePeso</key>
		<string>40php</string>
		<key>priceYen</key>
		<string>100</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>Burger</string>
		<key>item</key>
		<string>水筒</string>
		<key>pricePeso</key>
		<string>40php</string>
		<key>priceYen</key>
		<string>100</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>Burger</string>
		<key>item</key>
		<string>マグカップ</string>
		<key>pricePeso</key>
		<string>40php</string>
		<key>priceYen</key>
		<string>100</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>Burger</string>
		<key>item</key>
		<string>スポンジ</string>
		<key>pricePeso</key>
		<string>40php</string>
		<key>priceYen</key>
		<string>100</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>Burger</string>
		<key>item</key>
		<string>ゴム手袋</string>
		<key>pricePeso</key>
		<string>40php</string>
		<key>priceYen</key>
		<string>100</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>Burger</string>
		<key>item</key>
		<string>ミトン</string>
		<key>pricePeso</key>
		<string>40php</string>
		<key>priceYen</key>
		<string>100</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>Burger</string>
		<key>item</key>
		<string>エプロン</string>
		<key>pricePeso</key>
		<string>40php</string>
		<key>priceYen</key>
		<string>100</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>Burger</string>
		<key>item</key>
		<string>三菱アルミホイル 25cm*8m ：~~~~</string>
		<key>pricePeso</key>
		<string>40php</string>
		<key>priceYen</key>
		<string>92</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>Burger</string>
		<key>item</key>
		<string>旭化成 サランラップ 家庭用 30cm*50m ：</string>
		<key>pricePeso</key>
		<string>40php</string>
		<key>priceYen</key>
		<string>354</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>Burger</string>
		<key>item</key>
		<string>テーブルランナー</string>
		<key>pricePeso</key>
		<string>40php</string>
		<key>priceYen</key>
		<string>100</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>Burger</string>
		<key>item</key>
		<string>キッチン用洗剤</string>
		<key>pricePeso</key>
		<string>40php</string>
		<key>priceYen</key>
		<string>100</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>Burger</string>
		<key>item</key>
		<string>たこ焼きプレート</string>
		<key>pricePeso</key>
		<string>40php</string>
		<key>priceYen</key>
		<string>100</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>Burger</string>
		<key>item</key>
		<string>サーモス 保温弁当箱 DBQ-50 ：</string>
		<key>pricePeso</key>
		<string>40php</string>
		<key>priceYen</key>
		<string>2523</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>Burger</string>
		<key>item</key>
		<string>ノート</string>
		<key>pricePeso</key>
		<string>40php</string>
		<key>priceYen</key>
		<string>100</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>Burger</string>
		<key>item</key>
		<string>ノート</string>
		<key>pricePeso</key>
		<string>40php</string>
		<key>priceYen</key>
		<string>100</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>Burger</string>
		<key>item</key>
		<string>ノート</string>
		<key>pricePeso</key>
		<string>40php</string>
		<key>priceYen</key>
		<string>100</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>Burger</string>
		<key>item</key>
		<string>ノート</string>
		<key>pricePeso</key>
		<string>40php</string>
		<key>priceYen</key>
		<string>100</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>Burger</string>
		<key>item</key>
		<string>ノート</string>
		<key>pricePeso</key>
		<string>40php</string>
		<key>priceYen</key>
		<string>100</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>Burger</string>
		<key>item</key>
		<string>ノート</string>
		<key>pricePeso</key>
		<string>40php</string>
		<key>priceYen</key>
		<string>100</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>Burger</string>
		<key>item</key>
		<string>ノート</string>
		<key>pricePeso</key>
		<string>40php</string>
		<key>priceYen</key>
		<string>100</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>Burger</string>
		<key>item</key>
		<string>ノート</string>
		<key>pricePeso</key>
		<string>40php</string>
		<key>priceYen</key>
		<string>100</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>Burger</string>
		<key>item</key>
		<string>ノート</string>
		<key>pricePeso</key>
		<string>40php</string>
		<key>priceYen</key>
		<string>100</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>Burger</string>
		<key>item</key>
		<string>ノート</string>
		<key>pricePeso</key>
		<string>40php</string>
		<key>priceYen</key>
		<string>100</string>
	</dict>
</array>
</plist>
