<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>camera</key>
		<string>Burger</string>
		<key>item</key>
		<string>バスケットボール</string>
		<key>pricePeso</key>
		<string>40php</string>
		<key>priceYen</key>
		<string>**</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>Burger</string>
		<key>item</key>
		<string>野球ボール 公式</string>
		<key>pricePeso</key>
		<string>695</string>
		<key>priceYen</key>
		<string>**</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>Burger</string>
		<key>item</key>
		<string>テニスボール</string>
		<key>pricePeso</key>
		<string>40php</string>
		<key>priceYen</key>
		<string>**</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>Burger</string>
		<key>item</key>
		<string>メデシィンボール 4.53kg</string>
		<key>pricePeso</key>
		<string>2799</string>
		<key>priceYen</key>
		<string>**</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>Burger</string>
		<key>item</key>
		<string>ナイキ ズーム レディース</string>
		<key>pricePeso</key>
		<string>5795</string>
		<key>priceYen</key>
		<string>**</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>Burger</string>
		<key>item</key>
		<string>ナイキ ズーム メンズ</string>
		<key>pricePeso</key>
		<string>4795</string>
		<key>priceYen</key>
		<string>**</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>Burger</string>
		<key>item</key>
		<string>アンダーアーマー Tシャツ 赤</string>
		<key>pricePeso</key>
		<string>1395</string>
		<key>priceYen</key>
		<string>;;;;</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>Burger</string>
		<key>item</key>
		<string>サッカーボール MIKASA</string>
		<key>pricePeso</key>
		<string>440</string>
		<key>priceYen</key>
		<string>**</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>Burger</string>
		<key>item</key>
		<string>ボクシング グローブ</string>
		<key>pricePeso</key>
		<string>1950</string>
		<key>priceYen</key>
		<string>**</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>Burger</string>
		<key>item</key>
		<string>テニスラケット DUNLOP</string>
		<key>pricePeso</key>
		<string>3100</string>
		<key>priceYen</key>
		<string>llsl</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>Burger</string>
		<key>item</key>
		<string>ラケットタオルグリップ </string>
		<key>pricePeso</key>
		<string>105</string>
		<key>priceYen</key>
		<string>kjh</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>Burger</string>
		<key>item</key>
		<string>テニスボール 4個</string>
		<key>pricePeso</key>
		<string>385</string>
		<key>priceYen</key>
		<string>**</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>Burger</string>
		<key>item</key>
		<string>ヨガマット </string>
		<key>pricePeso</key>
		<string>400</string>
		<key>priceYen</key>
		<string>**</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>Burger</string>
		<key>item</key>
		<string>アディダス ヨガマット </string>
		<key>pricePeso</key>
		<string>1150</string>
		<key>priceYen</key>
		<string>**</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>Burger</string>
		<key>item</key>
		<string>スキップロープ 縄跳び</string>
		<key>pricePeso</key>
		<string>200</string>
		<key>priceYen</key>
		<string>**</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>Burger</string>
		<key>item</key>
		<string>フラフープ</string>
		<key>pricePeso</key>
		<string>920</string>
		<key>priceYen</key>
		<string>**</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>Burger</string>
		<key>item</key>
		<string>ダンベル 2kg</string>
		<key>pricePeso</key>
		<string>250</string>
		<key>priceYen</key>
		<string>aaaa</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>Burger</string>
		<key>item</key>
		<string>スマートドリフティングスクーター</string>
		<key>pricePeso</key>
		<string>16800</string>
		<key>priceYen</key>
		<string>**</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>Burger</string>
		<key>item</key>
		<string>バスケットボール 最安値</string>
		<key>pricePeso</key>
		<string>195</string>
		<key>priceYen</key>
		<string>**</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>Burger</string>
		<key>item</key>
		<string>CANON カメラ</string>
		<key>pricePeso</key>
		<string>40php</string>
		<key>priceYen</key>
		<string>**</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>Burger</string>
		<key>item</key>
		<string>CANON カメラ</string>
		<key>pricePeso</key>
		<string>40php</string>
		<key>priceYen</key>
		<string>**</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>Burger</string>
		<key>item</key>
		<string>CANON カメラ</string>
		<key>pricePeso</key>
		<string>40php</string>
		<key>priceYen</key>
		<string>**</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>Burger</string>
		<key>item</key>
		<string>CANON カメラ</string>
		<key>pricePeso</key>
		<string>40php</string>
		<key>priceYen</key>
		<string>**</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>Burger</string>
		<key>item</key>
		<string>CANON カメラ</string>
		<key>pricePeso</key>
		<string>40php</string>
		<key>priceYen</key>
		<string>**</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>Burger</string>
		<key>item</key>
		<string>CANON カメラ</string>
		<key>pricePeso</key>
		<string>40php</string>
		<key>priceYen</key>
		<string>**</string>
	</dict>
</array>
</plist>
