<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>camera</key>
		<string>MarukameUdon</string>
		<key>item</key>
		<string>オリジナルチキン 1 ピース</string>
		<key>pricePeso</key>
		<string>15peso</string>
		<key>priceYen</key>
		<string>250</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>MarukameUdon</string>
		<key>item</key>
		<string>チキンフィレサンド</string>
		<key>pricePeso</key>
		<string>15peso</string>
		<key>priceYen</key>
		<string>390</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>MarukameUdon</string>
		<key>item</key>
		<string>和風チキンカツサンド</string>
		<key>pricePeso</key>
		<string>15peso</string>
		<key>priceYen</key>
		<string>390</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>MarukameUdon</string>
		<key>item</key>
		<string>カーネリングポテト S</string>
		<key>pricePeso</key>
		<string>15peso</string>
		<key>priceYen</key>
		<string>250</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>MarukameUdon</string>
		<key>item</key>
		<string>カーネリングポテト R</string>
		<key>pricePeso</key>
		<string>15peso</string>
		<key>priceYen</key>
		<string>390</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>MarukameUdon</string>
		<key>item</key>
		<string>カーネリングポテト BOX</string>
		<key>pricePeso</key>
		<string>15peso</string>
		<key>priceYen</key>
		<string>700</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>MarukameUdon</string>
		<key>item</key>
		<string>カーネルクリスピー 1 ピース</string>
		<key>pricePeso</key>
		<string>15peso</string>
		<key>priceYen</key>
		<string>220</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>MarukameUdon</string>
		<key>item</key>
		<string>ナゲット 5 ピース</string>
		<key>pricePeso</key>
		<string>15peso</string>
		<key>priceYen</key>
		<string>400</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>MarukameUdon</string>
		<key>item</key>
		<string>コールスロー S</string>
		<key>pricePeso</key>
		<string>15peso</string>
		<key>priceYen</key>
		<string>220</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>MarukameUdon</string>
		<key>item</key>
		<string>コールスロー M</string>
		<key>pricePeso</key>
		<string>15peso</string>
		<key>priceYen</key>
		<string>260</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>MarukameUdon</string>
		<key>item</key>
		<string>コーンサラダ</string>
		<key>pricePeso</key>
		<string>15peso</string>
		<key>priceYen</key>
		<string>260</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>MarukameUdon</string>
		<key>item</key>
		<string>コールドリンク S</string>
		<key>pricePeso</key>
		<string>15peso</string>
		<key>priceYen</key>
		<string>240</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>MarukameUdon</string>
		<key>item</key>
		<string>コールドリンク M</string>
		<key>pricePeso</key>
		<string>15peso</string>
		<key>priceYen</key>
		<string>240</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>MarukameUdon</string>
		<key>item</key>
		<string>コールドリンク L</string>
		<key>pricePeso</key>
		<string>15peso</string>
		<key>priceYen</key>
		<string>280</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>MarukameUdon</string>
		<key>item</key>
		<string>100% オレンジジュース</string>
		<key>pricePeso</key>
		<string>15peso</string>
		<key>priceYen</key>
		<string>140</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>MarukameUdon</string>
		<key>item</key>
		<string>挽きたてリッチコーヒー</string>
		<key>pricePeso</key>
		<string>15peso</string>
		<key>priceYen</key>
		<string>240</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>MarukameUdon</string>
		<key>item</key>
		<string>挽きたてアメリカンコーヒー</string>
		<key>pricePeso</key>
		<string>15peso</string>
		<key>priceYen</key>
		<string>240</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>MarukameUdon</string>
		<key>item</key>
		<string>クッキー&amp;クリーム</string>
		<key>pricePeso</key>
		<string>15peso</string>
		<key>priceYen</key>
		<string>350</string>
	</dict>
	<dict>
		<key>camera</key>
		<string>MarukameUdon</string>
		<key>item</key>
		<string>チャリティーカーネル貯金箱</string>
		<key>pricePeso</key>
		<string>15peso</string>
		<key>priceYen</key>
		<string>390</string>
	</dict>
</array>
</plist>
